@*@page "/"*@
@page "/dash-board"
@layout MainLayout
@inherits PDM_Draxton.Pages.DashBoardComponent

@using PDM_Draxton.Data
@using PDM_Draxton.Models

@using Radzen
@using Radzen.Blazor
@using Blazor.Models.Sample

@using PDM_Draxton.Services
@using System.Data
@inject IdentityInformation _identity
@inject DialogService DialogService
@inject IModalService modal  

@inject Microsoft.Extensions.Localization.IStringLocalizer<DashBoard> L
<PageTitle>DashBoard</PageTitle>

@if (_identity.IsAuthenticated)
{
    <RadzenContent Container="main">
    <ChildContent>
        @*<RadzenHeading Size="H2" Text="DashBoard">
            </RadzenHeading>*@
        <div class="row justify-content-between">
            <div class="col-md-1">
                <h2>DashBoard</h2>                  
            </div>    

        <div class="col-md-7 justify-content-end d-lg-flex">
            <RadzenLabel style="margin-bottom: 5px; margin-left: 10px; margin-right: 10px; margin-top: 5px" Text="Estatus">
            </RadzenLabel>
            @*<RadzenDropDown Data="@IEstatus" Change=@(args => cons_Estatus_by_id(args)) TextProperty="Descripcion" ValueProperty="Id" Placeholder="TODOS" style="height: 31px" Name="Dropdown0" TValue="string">*@
            <RadzenDropDown style="height: 36px; width: 250px" Data="@IEstatus" @bind-Value=IdEstatus  Change=@(cons_dashboard) 
            TextProperty="Descripcion" ValueProperty="Id" Name="Dropdown0" TValue="int">
            </RadzenDropDown>
            <RadzenLabel style="margin-bottom: 5px; margin-left: 10px; margin-right: 10px; margin-top: 5px" Text="Negocio:">
            </RadzenLabel>
            @*<RadzenDropDown Data="@INegocio" Disabled=@deshabilitado Change=@(args => cons_Negocio_by_id(args)) AllowClear="true" AllowFiltering="true" style="height: 31px" TextProperty="Descripcion" ValueProperty="Id" Name="Dropdown0" TValue="int" Placeholder="Seleccione...">*@
            <RadzenDropDown style="height: 36px; width: 250px" Data="@INegocio" @bind-Value=IdNegocio Disabled=@deshabilitado Change=@(cons_dashboard) AllowClear="true" AllowFiltering="true" 
            TextProperty="Descripcion" ValueProperty="Id" Name="Dropdown0" TValue="string" Placeholder="Seleccione...">
            </RadzenDropDown>
            <RadzenLabel style="margin-bottom: 5px; margin-left: 10px; margin-right: 10px; margin-top: 5px" Text="Año:">
            </RadzenLabel>
            <RadzenDropDown style="height: 36px; width: 100px" Data="@IYears" @bind-Value=iYear Change=@(cons_dashboard) Name="Dropdown5"  TextProperty="Year" ValueProperty="Year" TValue="int" AllowClear="false">
            </RadzenDropDown>
            </div>
        </div>
        

    <RadzenTabs @ref="tabs0" style="height: 728px">
        <Tabs>
        <RadzenTabsItem  Icon="view_module" Selected="false" Text="Panel">
            <ChildContent>
            <RadzenPanel style="width: 100%">
                <ChildContent>
                @if (lDashboard != null)
                {
                    @foreach (var record in lDashboard)
                    {
                            @if (record.Clave == "CERRADO")
                            { styles = "border: 2px solid #0AB10A; display: inline-block; height: 305.0500183105469px; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 05px; width: 341px"; }
                            else {
                            styles = "border: 2px solid #f10d0d; display: inline-block; height: 305.0500183105469px; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 05px; width: 341px";}

                            <RadzenFieldset Icon="folder" style=@styles Text="@record.Negocio">
                            <ChildContent>
                                <div style="height: 33px" class="row">
                                    <RadzenLabel style="margin-left: 5px; margin-right: 10px; margin-top: 05px; vertical-align: middle; width: 130.27500915527344px" Text="Período:">
                                    </RadzenLabel>
                                    <RadzenTextBox style="height: 26px; width: 166.40000915527344px" Disabled = "true" Value="@record.Periodo" Name="Textbox6">
                                    </RadzenTextBox>
                                </div>
                                <div style="height: 36px" class="row">
                                    <RadzenLabel style="margin-left: 5px; margin-right: 10px; width: 130.5500030517578px" Text="Documentos Totales:">
                                    </RadzenLabel>
                                    <RadzenTextBox style="height: 27px; width: 167.40000915527344px" Disabled = "true" Value="@record.DocumentosTotales.ToString()" Name="Textbox7">
                                    </RadzenTextBox>
                                </div>
                                <div style="height: 33px" class="row">
                                    <RadzenLabel style="margin-left: 5px; margin-right: 10px; width: 131.5999984741211px" Text="Incidencias ">
                                    </RadzenLabel>
                                    <RadzenTextBox style="height: 24px; width: 165.40000915527344px" Disabled = "true" Value="@record.Incidencias.ToString()" Name="Textbox8">
                                    </RadzenTextBox>
                                </div>
                                <div style="height: 33px" class="row">
                                    <RadzenLabel style="margin-left: 5px; margin-right: 10px; width: 131.5999984741211px" Text="Incidencias Activas:">
                                    </RadzenLabel>
                                    <RadzenTextBox style="height: 24px; width: 165.40000915527344px" Disabled = "true" Value="@record.Activas.ToString()" Name="Textbox21">
                                    </RadzenTextBox>
                                </div>
                                <div style="height: 33px" class="row">
                                    <RadzenTextBox style="font-weight: bold; height: 24px; text-align: center; width: 313.3999938964844px" Disabled = "true" Value="@record.Estatus" Name="Textbox0">
                                    </RadzenTextBox>
                                </div>
                                <div style="height: 33px" class="row">
                                    <RadzenLabel style="width: 71.4375px" Text="Enviado:">
                                    </RadzenLabel>
                                    <RadzenTextBox style="height: 24px; text-align: left; width: 239.40000915527344px" Disabled = "true"  Value="@record.FechaUltimaActualizacion" Name="Textbox1">
                                    </RadzenTextBox>
                                </div>
                                <div class="row justify-content-center" style="height: 47px">
                                       
                                    <RadzenButton Click="@((args)=>ConsultaDetalle(record.IdNegocio, record.IdPeriodoNegocio))" Icon="search" style="height: 30; margin-left: 10px; margin-right: 10px; margin-top: 0px" Text="Consultar"></RadzenButton> 
                                                

                                @if (record.Clave == "CERRADO" || record.Clave == "INCIDENCIAS")
                                {
                                    <RadzenButton Click="@((args)=>Autoriza(record.IdPeriodo, record.IdNegocio,record.Clave,record.Estatus, record.Negocio, record.DocumentosTotales, record.Incidencias,record.Activas,record.Periodo))" Icon="done" Disabled="true" style="background-color: #279239; height: 30; margin-left: 10px; margin-right: 05px; margin-top: 0px; width: 42.63750076293945px">
                                    </RadzenButton>
                                    @if (_identity.Rol != "Negocio") 
                                    {
                                    <RadzenButton Click="@((args)=>Revision(record.IdPeriodo, record.IdNegocio,record.Clave,record.Estatus, record.Negocio, record.DocumentosTotales, record.Incidencias, record.Activas,record.Periodo))" Icon="clear" Disabled="true" style="background-color: #ff4173; height: 30; margin-left: 05px; margin-right: 10px; margin-top: 0px; width: 42.63750076293945px">
                                    </RadzenButton>
                                    }
                                }
                                else
                                {              
                                    <RadzenButton Click="@((args)=>Autoriza(record.IdPeriodo, record.IdNegocio,record.Clave,record.Estatus, record.Negocio, record.DocumentosTotales, record.Incidencias,record.Activas,record.Periodo))" Icon="done" style="background-color: #279239; height: 30; margin-left: 10px; margin-right: 05px; margin-top: 0px; width: 42.63750076293945px">
                                    </RadzenButton>
                     
                                    @if (_identity.Rol != "Negocio") 
                                    {
                                    <RadzenButton Click="@((args)=>Revision(record.IdPeriodo, record.IdNegocio,record.Clave,record.Estatus, record.Negocio, record.DocumentosTotales, record.Incidencias,record.Activas, record.Periodo))" Icon="clear" style="background-color: #ff4173; height: 30; margin-left: 05px; margin-right: 10px; margin-top: 0px; width: 42.63750076293945px">
                                    </RadzenButton>
                                    }
                                }   
                                    <RadzenButton Click="@((args)=>Observacion(record.IdPeriodoNegocio, record.Periodo,record.Negocio))" Text="Obs.">
                                    </RadzenButton>
                                                                                                                
                                    </div>
                            </ChildContent>
                        </RadzenFieldset>
                    }
                }
                </ChildContent>
            </RadzenPanel>
            </ChildContent>
        </RadzenTabsItem>

        <RadzenTabsItem Icon="view_headline" Selected="false" Text="Detalle">
            <ChildContent>
            <RadzenPanel style="height: 529px">
                <ChildContent>
                <RadzenDataGrid @ref="datagrid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                Count="@getOrderDetailsCount" 
                Data="@lDashboard" 
                TItem="PDM_Draxton.Models.cDashboard" PageSize="10" style="height: 528.6000061035156px">
                    <Columns>
                    <RadzenDataGridColumn TItem="cDashboard" Property="Negocio"  Title="Negocio" Width="25%">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="cDashboard" Property="FechaCreacion" Title="Fecha Envío" Width="15%">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="cDashboard" Property="Periodo" Title="Período" Width="15%">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="cDashboard" Property="DocumentosTotales" Title="Documentos Totales" Width="10%">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="cDashboard" Property="Incidencias" Title="Incidencias" Width="10%">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="cDashboard" Property="Estatus" MinWidth="25%" Title="Estatus">
                    </RadzenDataGridColumn>
         @*           <RadzenDataGridColumn TItem="cDashboard" Title="Opciones" Width="15%">
                    </RadzenDataGridColumn>*@
                    </Columns>
                </RadzenDataGrid>
                </ChildContent>
            </RadzenPanel>
            </ChildContent>
        </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>
    </ChildContent>
    </RadzenContent>
}
@if (!_identity.IsAuthenticated)
       { 
            <p>Usuario Verificado: @_identity.IsAuthenticated</p>
            <p>Usuario: @(_identity.Name ?? "")</p>
            <p>Email: @(_identity.Email ?? "correo no disponible")</p>
            <h2>"El usuario no es esta Autorizado para esta pantalla"</h2>
       }

@code{
    public List<PDM_Draxton.Models.cDashboard> lDashboard;
    private IEnumerable<PDM_Draxton.Models.Incidencia> IIncidencias;
    private IEnumerable<PDM_Draxton.Models.Negocio> INegocio;
    private IEnumerable<PDM_Draxton.Models.cEstatus> IEstatus;
    private IEnumerable<PDM_Draxton.Models.Years> IYears;


    string? IdNegocio;
    int IdEstatus;
    public int iYear;
    public int dash = 1;

    private string styles = String.Empty;
    public bool deshabilitado = false;

    protected override async Task OnInitializedAsync()
    {
        DataAccess da = new DataAccess();

        IdNegocio = _identity.IdNegocio.ToString();
        IdEstatus = da.cons_EstatusClave("TODOS"); ; // Todos


        @if (_identity.Rol == "Negocio")
        {
            deshabilitado = true;
        }
        else
        {
            deshabilitado = false;
            IdNegocio = da.cons_NegocioTodos().ToString();
        }



        if (da.cons_Negocio(out List<PDM_Draxton.Models.Negocio> negTmp, out String msgErrorNeg))
        {
            INegocio = negTmp;
        }

        if (da.cons_Estatus(out List<PDM_Draxton.Models.cEstatus> estatusTmp, out String msgErrorSt))
        {
            IEstatus = estatusTmp;
        }
        if (da.cons_Years(IdNegocio, IdEstatus, out List<PDM_Draxton.Models.Years> Years, out String msgError))
        {
            IYears = Years;
        }

        foreach (var year in Years)
        {            
            iYear = Convert.ToInt32(year.Year);
            break;
        }


        if (da.cons_dashboard(IdEstatus, IdNegocio, iYear, out List<PDM_Draxton.Models.cDashboard> dh, out String msgErrorInc))
        {
            lDashboard = dh;
        }
    }

    public void ConsultaDetalle(int idNegocio, int IdPeriodoNegocio )
    {
        //_identity.DashIdNegocio = idNegocio;
        //_identity.DashIdPeriodoNegocio = IdPeriodoNegocio;
        UriHelper.NavigateTo("/PDM_Draxton/incidencias/" + idNegocio + "/" + IdPeriodoNegocio.ToString());      
        //UriHelper.NavigateTo("/incidencias/" + idNegocio + "/" + IdPeriodoNegocio.ToString());      
    }

     
    public void cons_dashboard()
    {
        DataAccess da = new DataAccess();
        if (da.cons_dashboard(IdEstatus, IdNegocio, iYear, out List<PDM_Draxton.Models.cDashboard> dh, out String msgErrorInc))
        {
            lDashboard = dh;
        }
    }

    public async Task Autoriza(int IdPeriodo, int IdNegocio, string Clave, string Estatus, string Negocio, int DocsTotales, int Incidencias, int Activas, string DescPeriodo)
    {

        if (Clave == "COMERCIO"  && _identity.Rol == "Negocio")
        {
           await DialogService.Alert("Ya se encuentra en revisión por Comercio Exterior", "Aviso", new AlertOptions() { OkButtonText = "OK" });
            DialogService.Close(true);
            return;
        }
        

        @if(_identity.Rol != "Negocio")
        {
            await DialogService.OpenAsync<Correo>($"Notificación de cierre de período",
            new Dictionary<string, object>() { { "IdPeriodo", IdPeriodo }, 
            { "IdNegocio", IdNegocio }, { "Estatus", Estatus }, { "Negocio", Negocio }, 
            { "DocsTotales", DocsTotales }, { "Incidencias", Incidencias },{ "Activas", Activas },{ "DescPeriodo", DescPeriodo }},
            new DialogOptions() {ShowClose=false, Width = "700px", Height = "350px", Resizable = false, Draggable = false });
        }
        else
        {   await DialogService.OpenAsync<Correo>($"Notificación de Envio a Revisión",
            new Dictionary<string, object>() { { "IdPeriodo", IdPeriodo }, 
            { "IdNegocio", IdNegocio }, { "Estatus", Estatus }, 
            { "Negocio", Negocio }, { "DocsTotales", DocsTotales }, { "Incidencias", Incidencias }, {"Activas", Activas },{ "DescPeriodo", DescPeriodo }},
            new DialogOptions() { ShowClose=false,Width = "700px", Height = "350px", Resizable = false, Draggable = false });
        }

        OnInitializedAsync();

    }

    public async Task Revision(int IdPeriodo, int IdNegocio, string Clave, string Estatus, string Negocio, int DocsTotales, int Incidencias, int Activas,string DescPeriodo)
    {
        if (Clave == "RECHAZADO" || Clave =="NEGOCIO")
        {
           await DialogService.Alert("Ya se encuentra en revisión por el negocio", "Aviso", new AlertOptions() { OkButtonText = "OK" });
            DialogService.Close(true);
            return;
        }

                                              
        await DialogService.OpenAsync<Correo2>($"Notificación de envio a revisión",
            new Dictionary<string, object>() { { "IdPeriodo", IdPeriodo }, 
            { "IdNegocio", IdNegocio }, { "Clave", "RECHAZADO" },  { "Estatus", Estatus }, 
            { "Negocio", Negocio }, { "DocsTotales", DocsTotales }, { "Incidencias", Incidencias }, { "Activas", Activas }, { "DescPeriodo", DescPeriodo } },
            new DialogOptions() {ShowClose=false, Width = "700px", Height = "350px", Resizable = false, Draggable = false });

        OnInitializedAsync();

    }

    public async Task Observacion(int IdPeriodoNegocio,string periodo, string negocio)
    {
                                              
        await DialogService.OpenAsync<Dash_Obs>($"Observaciones " + periodo +"-"+ negocio,
            new Dictionary<string, object>() { { "IdPeriodoNegocio", IdPeriodoNegocio }},
            new DialogOptions() {ShowClose=false, Width = "700px", Height = "350px", Resizable = false, Draggable = false });

        OnInitializedAsync();

    }


}